* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #00040a;
}

.logo {
    height: 50px;
    width: 100px;
}

.post {
    display: flex;
    justify-content: right;
    float: right;
    width: 100%;
}